html {
  font-family: 'Montserrat', 'Helvetica Neue', 'Arial', open-sans, sans-serif;
  font-weight: 300;
}

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
